.nopage {
    background-color: #afb8c3;
  }
  .nopage_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 100vh;
    color: #fff;
  }
  
  .nopage_book {
    position: relative;
    width: 200px;
    height: 280px;
    border-radius: 2px 4px 4px 2px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), -1px 4px 4px 0 rgba(0, 0, 0, 0.3);
    background: #141e35;
    background: linear-gradient(45deg, #141e35 0%, #2c4172 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#141e35", endColorstr="#2c4172",GradientType=1 );
  }
  .nopage_book:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px 0 0 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.1) 45%, rgba(0, 0, 0, 0.15) 49%, rgba(0, 0, 0, 0.15) 84%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#00000000",GradientType=1 );
  }
  .nopage_book:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    top: -1px;
    right: 25px;
    bottom: -1px;
    border-radius: 1px;
    box-shadow: -1px 0px 1px 0 rgba(0, 0, 0, 0.4);
    background: rgb(14, 148, 150);
    background: linear-gradient(to right, #0e9496 0%, #0d8a8c 12%, #0e9496 25%, #0d8a8c 37%, #0e9496 50%, #0d8a8c 62%, #0e9496 75%, #0d8a8c 87%, #0e9496 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0e9496", endColorstr="#0e9496",GradientType=1 );
  }
  .nopage_title {
    position: absolute;
    top: 55px;
    left: 33px;
  }
  .nopage_title--big {
    font-size: 36px;
    line-height: 100%;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .nopage_title--small {
    font-size: 13px;
    line-height: 160%;
    font-weight: 400;
    font-style: italic;
    padding-left: 2px;
    color: #ccc;
  }