.header {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    margin-bottom: 1em;
  }
  .header_logo-wrapper {
    display: flex;
    width: 100%;
    padding: 15px;
  }
  .header_title {
    font-family: Nunito;
    font-weight: 900;
    font-size: 24px;
    color: rgb(55, 99, 157);
    margin: auto;
  }
  .header_logo {
    color: inherit;
    text-decoration: none;
  }
  .header_search {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
  }
  .header_search-input {
    flex: 1;
    padding: 1em;
    font-family: Nunito;
    border: none;
  }
  .header_search-input:focus {
    outline: 2px solid rgb(215, 242, 216);
    border-radius: 1em;
  }
  .header_search-input::placeholder {
    color: #a9a9c4;
  }
  .header_search-btn {
    position: absolute;
    right: 10px;
    display: flex;
    align-content: center;
    background: inherit;
    border: none;
  }
  .header_search-btn:hover {
    cursor: pointer;
  }
  @media (min-width: 770px) {
    .header {
      flex-direction: row;
      margin-bottom: 2em;
    }
    .header_logo-wrapper {
      width: 320px;
      padding: 25px;
    }
    .header_search-input {
      flex: 0.4;
    }
  }
  